body
{
    font-family: 'berlin', sans-serif;
    font-family: 'Akaya Telivigala', cursive;
    background:gold;
}

.header_div
{
    background:darkturquoise;
    color:darkred;
}

.header_div p
{
    font-family: 'berlin', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
}

.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

  
.copy_right_footer {
    position:fixed;
    color:whitesmoke;
    bottom: 0;
    width: 100%;
    font-size: 21px;
    background-color: black;
    line-height: 3;
    text-align: center;
    text-shadow: 4px 6px 5px rgb(151, 149, 149);
}

.ptag
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 50%;
}